streamlit
openai
pymupdf
pandas
python-docx 
duckduckgo_search
streamlit_image_coordinates
pdf2zh
diffusers
transformers
opencv-python
torch >= 2.5.1
torchvision >= 0.20.1

language_tool_python
requests
beautifulsoup4
html5lib

networkx
pyvis
aiohttp
configparser
future

numpy
pipmaster
pydantic
python-dotenv

tenacity
tiktoken
peft

json-repair

# git+https://github.com/facebookresearch/sam2.git

