diffusers
openai
google-genai
tiktoken
torch>=2.5.1
git+https://github.com/huggingface/transformers.git

opencv-python
streamlit_image_coordinates
torchvision>=0.20.1
git+https://github.com/facebookresearch/sam2.git


numpy==2.2.6
pandas
scikit-learn
nano_vectordb

pdf2zh==1.9.11
pymupdf
python-docx

beautifulsoup4
duckduckgo_search
html5lib
requests

pyvis
streamlit==1.45.0

networkx

language_tool_python

aiohttp
configparser
future
json-repair
pipmaster
pydantic
python-dotenv
tenacity
