streamlit
openai
pymupdf
pandas
python-docx 
duckduckgo_search
streamlit_image_coordinates
pdf2zh

networkx
pyvis
aiohttp
configparser
future

numpy
pipmaster
pydantic
python-dotenv

tenacity
tiktoken

git+https://github.com/facebookresearch/sam2.git

